.login-box-mobile-640px {
	font-family: Dotum;
	background: #2a426b;
	color: #ffffff;	
	width:100%;	
	overflow: hidden;	
}
.login-box-mobile-640px .login-box-middle{	
	padding:10px;
}


.login-box-mobile-640px .login-box-middle .login-input{	
	width:100%;
	float:left;
}

.login-box-mobile-640px .login-box-middle .submit-button{	
	width:95px;	
	text-align:right;
}

.login-box-mobile-640px.logout-box-mobile-640px {
	width:100%;
	font-size:1.2em;	
}

#header .login-box-mobile-640px.logout-box-mobile-640px  a{
	color:#d8d8d8;
}

.login-box-mobile-640px  input[type='text'], .login-box-mobile-640px input[type='password'] {
	width: 90%;
	padding:9px 5% 8px 5%;
	font-size:1.3em;
	/*height: 24px;
	line-height: 22px;
	padding: 0 10px;*/
	border:1px solid black;
}
.login-box-mobile-640px .login-user {
	margin-bottom: 9px;
}

.login-box-mobile-640px .register_autologin {	
	font-size:1.2em;
	margin-top:14px;
	text-align:right;
}


.login-box-mobile-640px  .dot {
	position: relative;
	top: -2px;

}

/**autologin password-lost register**/
.login-box-mobile-640px .register_autologin .auto_login {	
	color: #d8d8d8;
	float:left;	
	margin-top:3px;
}

.login-box-mobile-640px .register_autologin .auto_login  #auto_login{	
	position:relative;
	top:-3px;
	margin-right:4px;
}
.login-box-mobile-640px .register_autologin #ol_password_lost {	
	margin-left: 25px;
	color: #d8d8d8;	
}

.login-box-mobile-640px .register_autologin .login-reg {	
	color: #d8d8d8!important;
	position: relative;	
	margin-left:18px;
}

/* outlogin.skin.2.php */
.logout-box-mobile-640px{	
	position: relative;	
	font-size: 9pt;
	color: #ffffff;
	padding-bottom:10px;
}

.logout-box-mobile-640px .inner{
	padding:10px;
}

.logout-box-mobile-640px #ol_after_info {
	background-color: #0e5565;
	color: #ffffff;
	display: inline-block;
	padding: 0 10px;
	height: 22px;
	line-height: 23px;
}
.logout-box-mobile-640px.admin-mode {
	position: absolute;
	bottom: 15px;
	right: 3px;
}

.logout-box-mobile-640px .admin-mode a{
	margin-right: 10px;
}

.logout-box-mobile-640px .user-info {
	width: 100%;
	float: left;
}

.logout-box-mobile-640px .user-admin {
	border-top: solid 1px #0a101a;
	padding:5px 0;
}

.logout-box-mobile-640px .user-admin  img{
	margin:0 7px 0 2px;
}

.logout-box-mobile-640px.user-meta {
	padding-top: 4px;
	padding-bottom: 0;	
	position: relative;	
}

.logout-box-mobile-640px.no_of_unreaded_message {
	border-radius: 10px;
	display: inline-block;
	width: 11px;
	height: 15px;
	line-height: 16px;
	background-color: #444444;
	color: #ffffff;
	padding-left: 4px;
}

.logout-box-mobile-640px#ol_after_logout {
	display: inline-block;
	width: 80px;
	height: 24px;
	background-color: #0e5565;
	font-weight: bold;
	line-height: 24px;
	text-align: center;
	color: #ffffff;
	position: absolute;
	bottom: 10px;
	left: 10px;
}
.logout-box-mobile-640px a:hover {
	text-decoration: none;
}

.login-box-mobile-640px .user-admin {
	margin-top: 2px;
}

.login-box-mobile-640px .user-admin span.user-icon-points {
	display: inline-block;
	width: 50px;
	float: left;
}
.login-box-mobile-640px .user-meta span.user-message, .login-box-mobile-640px  .user-meta span.user-points {
	display: inline-block;
	padding:5px 0;
}

.login-box-mobile-640px .user-meta span.user-message img, .login-box-mobile-640px  .user-meta span.user-points img {
	position: relative;
	top: -2px;

}

.user-meta span.user-points img {
	margin-right:5px;
}

.login-box-mobile-640px .user-admin .user-scrap {
	float:none;
}

.login-box-mobile-640px .user-admin span.edit_profile {
	border:1px solid red;
}

.login-box-mobile-640px .user-admin span.admin_link {
	display: inline-block;
	width: 50px;
	float: right;
	text-align: right;
}

.login-box-mobile-640px .logout-inner {
	padding:10px 10px 0 10px;
}

.login-box-mobile-640px .log_out {
	text-align:right;
}

.login-box-mobile-640px .user-logged-name {
	margin-top: 6px;
	text-align: left;	
	font-size: 1.2em;
	color: #ffffff;
	height:16px;
	word-break:break-all;
	overflow:hidden;
}

/**submit**/
.login-box-mobile-640px #ol_submit{
	
}
/* for log in */
@media all and ( max-width: 342px ) {
	.login-box-mobile-640px .register_autologin a{
		display:block;
	}
}

@media all and ( max-width: 250px ) {
	.login-box-mobile-640px .register_autologin{
		text-align:left;
	}
	
	.login-box-mobile-640px .register_autologin #ol_password_lost, .login-box-mobile-640px .register_autologin .login-reg{
		margin:0;
	}
	
	.login-box-mobile-640px .register_autologin .auto_login{
		float:none;
		display:block;
	}
}

/* for log out */
@media all and ( max-width: 285px ) {
	
	.logout-box-mobile-640px{
		font-size:.9em!important;
	}
	
	.logout-box-mobile-640px .user-info img{
		display:none;
	}
}